<h2>Availiable Feeds</h2>

<% @feeds.each do |feed| %>
 
  <% unless @subscriptions.include?(feed) %>
    <%= link_to feed.title, feed_path(feed), remote: true %>
    <%= feed.description %>
    <%= link_to "Subscribe", subscriptions_path(:feed_url => feed.url), method: "post", remote: true %>
  <% end %>
<% end %>

