
<div class="middle-title"><%= @category.category_name.capitalize %></div>
<ul>
  <% @articles.each do | article | %>

  <li>
	<%= link_to article_path(article), remote: true do %>
	    <div class="article" data-last_updated="<%= article.created_at.to_i %>">
	      <%= article.title %>
	    </div>
	<% end %>
  </li>
  <% end %>
</ul>  