<ul>
<% @feed.articles.most_recent.each do | article | %>

	<%= link_to article_path(article), remote: true do %>
	    <div class="article" data-last_updated="<%= article.created_at.to_i %>">
	      <li><%= article.title %></li>
	    </div>
	<% end %>
  <% end %>
</ul>  