
<p>example feeds</p>
<p>http://feeds.bbci.co.uk/news/rss.xml</p>
<p>http://feeds.bbci.co.uk/news/politics/rss.xml</p>
<p>http://lorem-rss.herokuapp.com/feed?unit=second&interval=30</p>

 


<%= render 'feed_url' %>

<%= render 'feeds' %>

