<div class="middle-title">Recent Activity</div>
<% @activities.each do |activity| %>
  <%= activity.owner.first_name %> <%= activity.owner.last_name %> has added an article to their timeline
  
  	<%= link_to article_path(activity.trackable), remote: true do %>
  		<%= activity.trackable.title %>
  	<% end %>

<% end %>

