<div class='middle-title' id='user-search'>Connect with other Yakety users</div>

	<% @users.each do |user| %>
		<div class='user-search'>
			<p><%= user.first_name %> <%= user.last_name %></p>
			<% unless user.id == current_user.id %>	
				<% if current_user.following?(user) %>
					<%= link_to relationship_path(:id => user.id), method: :delete, remote: true do %>	
						<div class='unfollow-button'></div>
					<% end %>
				<% else %>	
					<%= link_to relationships_path(:id => user.id), :action => 'create', method: :post, remote: true do %>
						<div class='follow-button'></div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>
	




