<div class="middle-title">Favorites</div>

<% @articles.reverse.each do |article| %>
	<div class='wide-display'>
		<%= link_to article_path(article), remote: true do %>
		      <%= article.title %>
		<% end %>
		<div id='feed-source'>
		<%= link_to feed_path(article.feed_id), remote: true do %>
		      <%= article.feed.title %>
		<% end %>
		</div>
	</div>
<% end %>
