
<ul>
  <div class="menu-title">Following
      <div class='follower-search-button'></div>
  		<%= link_to users_path, remote: true do %>
  		    <div class='follower-add-button'></div>
  		<% end %>
  	</div>
</ul>

<div id='following-list-search'>
	<input type='text' id='filter' placeholder='Search Followers'>
</div>

<ul id='following'>
	<% @following.each do |user| %>
	 	<li><%= link_to "#{user.first_name} #{user.last_name}", timeline_user_path(user), remote: true %></li>
	<% end %>
</ul>

