<ul>
  <%= link_to 'Following', users_path, class: "menu-title", remote: true %>
    <% @following.each do |user| %>
      <li><%= link_to user.first_name + user.last_name, timeline_user_path(user), remote: true %></li>
    <% end %>
</ul>
