

  <%= link_to 'Following', users_path, remote: true, class: "menu-title" %>
  
<input type='text' id='filter' placeholder='Search (start typing)'>

<% @following.each do |user| %>
 <ul id='following-list'>
 	  <li><%= link_to "#{user.first_name} #{user.last_name}", timeline_user_path(user), remote: true %></li>
  <% end %>
</ul>
