<ul>
  <li class="menu-title">Following</li>
</ul>

<input type='text' id='filter' placeholder='Search Followers'>

<% @following.each do |user| %>
 <ul id='following-list'>
 	<li><%= link_to "#{user.first_name} #{user.last_name}", timeline_user_path(user), remote: true %></li>
<% end %>
</ul>
