<div id='follows-button'>
	<div class='followed-count follows-button'><%= @user.followed_users.count %> Following</div>
	<div class='follower-count follows-button'><%= @user.followers.count %> Followers</div>
</div>	
