var articleHtml =  '<li><%= link_to @feed.title, feed_path(@feed), remote: true  %></li> '

$('#feeds-menu').append(articleHtml)

var articleHtml =  "<%= escape_javascript(render partial: '/feeds/feed_url' ) %>"
var articleHtml = articleHtml + "<%= escape_javascript(render partial: '/feeds/feeds' ) %>"

$('#middle-menu').html(articleHtml)