<div class="logo"> </div> 
<div class="title_homepage">Yakety Feed </div>

<div id="slogon"> Your very own RSS reader. It's free and always will be. </div>


<div class="slides">
    <ul> <!-- slides -->
        <li><img src="/test_img2.png" alt="image01" />
        </li>
        <li><img src="/mega-phone.png" alt="image02" />
        </li>
        <li><img src="/test_img3.png" alt="image03" />
        </li>
        <li><img src="/test_img4.png" alt="image04" />
        </li>
    </ul>
</div>




