
*{
	box-sizing: border-box;

}

.active {
  background:darken($menu-item-color,20%);
}

a {
	text-decoration: none;
	color: black;
	&:hover {
		color: $hover-color;
	}
}

#left-menu{
	background: white;
	border: 4px solid $site-color;
	border-radius: 3px;
	margin: 0 0.5%;

	padding: 3px 10px;
	height: 100vh;
	width: 20%;
	display: inline-block;
	overflow: scroll;
	ul {
		display: inline;
		list-style: none;
		}
	a {
		display: block;
		width: 100%;
		padding: 3px;
		&:hover {
			background: darken($menu-item-color,20%);
		}
	}
	}


#middle-menu{
	@extend #left-menu;
	width: 38%;
	a {
		padding: 3px 3px;
		display: block;
		transition: background 0.2s;
		&:hover {
		background: darken($menu-item-color,20%);
		color: black;
		};
	}
	ul {
			li {
			&:nth-child(even){
				background: $menu-item-color;
			}
	}
}
}


#right-menu{
	@extend #middle-menu;
	
}