$hover-color: red;
$menu-item-color: lighten(#ff7373,20%);
*{
	box-sizing: border-box;

}

.active {
  background:darken($menu-item-color,20%);
}

a {
	text-decoration: none;
	color: black;
	&:hover {
		color: $hover-color;
	}
}

#left-menu{
	padding: 2px 10px;
	height: 100vh;
	border: 1px solid black;
	width: 20%;
	display: inline-block;
	overflow: scroll;
	ul {
		display: inline;
		list-style: none;
		}
	}


#middle-menu{
	@extend #left-menu;
	width: 40%;
	a {
		padding: 3px 3px;
		display: block;
		transition: background 0.2s;
		&:hover {
		background: darken($menu-item-color,20%);
		color: black;
		};
	}
	ul {
			li {
			&:nth-child(even){
				background: $menu-item-color;
			}
	}
}
}


#right-menu{
	@extend #left-menu;
	width: 40%;
}