#profile {
	background-color: #333333;
	color: white;
}

.wide-display {
	min-height: 80px;
	border-bottom: 3px solid #ca2024;
	margin-top: 10px;
	line-height: 2;
}

#feed-source {
	text-align: right;
	margin-right: 5px;
	font-size: 13px;
}