#profile {
	background-color: #333333;
	color: white;
}

.wide-display {
	min-height: 80px;
	border-bottom: 3px solid #ca2024;
	margin-top: 10px;
	line-height: 2;
  transition: all 1s;
}

.wide-display-alert {
	min-height: 80px;
	border-bottom: 3px solid #ca2024;
	margin-top: 10px;
	line-height: 2;
	background-color: blue;
}

#feed-source {
	text-align: right;
	margin-right: 5px;
	font-size: 13px;
}

.category-box {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 5px;
	vertical-align: middle;
}

.category-box-background {
  content: url(/assets/mega-phone-white.png);
}

.follows-button {
  display: inline-block;
  width: 115px;
  height: 30px;
  background: $site-color;
  padding: 5px;
  text-align: center;
  border: 3px solid #333333;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

#follows-button {
	margin-top: 10px;
	text-align: center;
}

.follow-title {
	background-color: $site-color;
	color: white;
	line-height: 30px;
	padding-left: 10px;
}

.profile-picture {
  text-align: center;
  margin-top: 15px;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
}

.bio {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.stats {
  margin-bottom: 15px;
}