

.alert {
  background: $warning-color;
  display: none;
}

#NoFeedAlert {
  display: block;
  color: white;
  padding: 5px;
  background: $site-color;
}
.article_flash{
  background: $warning-color;
}
.article {
  transition: background 1s;
}

.manage_account {
  border: 2px solid #ca2024;
  border-radius: 10px;
  padding: 5px;
  width: 190px;
  text-align: center;
}

.update_profile {
  width: 800px !important;
  margin-top: 20px;
}

.update_profile_back {
  border: 2px solid #ca2024;
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.profile_image {
  display: inline-block;
  clear: both;
  margin-left: 80%;
  margin-top: -70px;
  max-width: 80px;
  height:auto;
}

.form_submit {
  width: 1000px;
}




textarea {
    resize: none;
}

.manage_your_account {
  border: 3px solid #ca2024;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  width: auto;
  margin-left: 500px;
}

.signinbutton {
  float: right;
  margin-top: 25px;
  margin-right: 50px;
}

.logo {
 content:url(/banner_update.png);
 margin-left: auto;
 margin-right: auto;
 clear: both;
}

.small_logo {
   content:url(/banner_new.png);
   width: 300px;
   /*display: inline-block;*/
   position: relative;
   /*margin: 10px;*/

   margin-left: auto;
   margin-right: auto;
   /*left: 40% - 150px;*/
}

.settings {
   content:url(/assets/settings-3.png);
   width: 15px;
   display: inline-block;
   height: auto;
}


header {
  margin: 0.5%;
  width: 98%;
  border-radius: $border-r-small;
  background-color: $site-color;
  position: relative;
  padding: 10px;
  font-family: $main-font;
}

.login {
  color: white;
  position: absolute;
  top: 15px;
  a {
    padding: 5px 10px;
    margin: 0 2px;
    border: 2px solid white;
    border-radius: $border-r-small;
    color: white;
    display: inline-block;
    &:hover {
      color: $site-color;
      background: white;
    }
    &:first-child{
      margin-left: 40px;
    }
  }
  img {
    border: 2px solid white;
    position: relative;
    top: -7px;
    vertical-align: middle;
  }
}

#login-right{
  right: 15px;
  top:  23px;
}

#feeds-menu a.delete_icon {
  opacity: 0;
  z-index: -1000;
  transition: opacity 0.3s;
}

#feeds-menu.show .delete_icon {
  opacity: 1;
  z-index: +1000;
  }

#left-menu a.delete_icon { 
  width: 20px;
  height: 20px;
  display: inline-block;
  right: -5px;
  top: 0px;
  text-align: center;
  z-index: 1000;
  display:inline-block;
  position: absolute;
    background: none;
  img {
    width: 15px;
    margin: 0 auto;
  }
  &:hover{
    background: none;
  }
}


p.bold_text {
  text-align: center;
  font-weight: bold;
}

#right-menu img {
  max-width: 100% !important;
}

.title_homepage {
  font-size: 80px;
  display: inline-block;
  clear: both;
  color: #FF0000;
  margin-left: 20px;
  margin-top: -50px;
}

#slogon {
  text-align: center;
}

.homepage_image {
   content:url(/test_img.png);
   width: 30%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}

body {
  background-color: $background-color;
}

.fb-share-button
{
transform: scale(1.4);
-ms-transform: scale(1.4);
-webkit-transform: scale(1.4);
-o-transform: scale(1.4);
-moz-transform: scale(1.4);
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
}



.buttonSignUp {
 padding: 10px 10px;
 margin: 0 2px;
 border: 2px solid white;
 border-radius: 5px;
 color: white;
 display: inline-block;
 background-color: #ca2024;
}

.buttonSignIn {
 padding: 10px 10px;
 margin: 0 2px;
 border: 2px solid white;
 border-radius: 5px;
 color: white;
 display: inline-block;
 background-color: #ca2024;
}

h2#sign-up {
  display: inline-block;
  margin-top: -100px;
  float: right;
  margin-top: -235px;
  margin-right: 155px;
}


#twitter-logo {
   content:url(/sign_on_with_twitter.png);
   z-index: 2;
   float: right;
   margin-top: -140px;
   margin-right: 364px;
    width: 27%;
   height: auto;
}

#google-logo {
   content:url(/sign_on_with_google.png);
   z-index: 2;
   float: right;
   margin-top: -70px;
   margin-right: 364px;
   width: 27%;
   height: auto;
   border-radius: 10px;
}

#facebook-logo {
   content:url(/sign_on_with_facebook.png);
   z-index: 2;
   float: right;
   margin-top: 0px;
   margin-right: 364px;
    width: 27%;
   height: auto;
} 

.new_user_login {
  margin-left: 620px;
  margin-top: -120px;
}

input[type=button]:active,
input[type=submit]:active,
a.button:active {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.overlay.light {
  background: rgba(255,255,255,0.5);
}

.overlay a.cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay .popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 50px rgba(0,0,0,0.5);
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
}

.overlay.light .popup {
  border-color: #aaa;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: matrix(0,0,0,0,0,0);
  -moz-transform: matrix(0,0,0,0,0px,0px);
  -ms-transform: matrix(0,0,0,0,0,0);
  -o-transform: matrix(0,0,0,0,0,0);
  transform: matrix(0,0,0,0,0,0);
}

.popup h2,
.popup h3 {
  margin-top: 0;
  color: #666;
  font-family: $headline-font;
}

.popup h3 {
  color: #999;
}


.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

.popup .close:hover {
  opacity: 1;
}

.popup .content {
  max-height: 400px;
  overflow: auto;
}

.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}

.popup ::-webkit-scrollbar {
  width: 10px;
}
.popup ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-left: 5px solid #fff;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.popup ::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
.popup ::-webkit-scrollbar-thumb:active {
  background: #999;
}
.popup ::-webkit-scrollbar-button {
  display: none;
}

#popup2 .popup {
  width: 900px;
  height: 390px;
  margin-top: 235px;
}

/** display popup **/

div:target {
  visibility: visible;
  opacity: 1;
}

div.light:target .popup {
  -webkit-transform: matrix(1,0,0,1,0,0);
  -moz-transform: matrix(1,0,0,1,0px,0px);
  -ms-transform: matrix(1,0,0,1,0,0);
  -o-transform: matrix(1,0,0,1,0,0);
  transform: matrix(1,0,0,1,0,0);
}

#socialboxbtn-container {
  width: 100%;
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 4px;
  .social-media & {
    bottom: -24px;
    transition: all 1s;
    &:hover {
      bottom: 4px;
    }
  }
}
.socialboxbtn {
    width:150px;
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    position:relative;
    
    padding-bottom:10px;
    padding-top:10px;
    background-image: linear-gradient(bottom, rgb(168,48,232) 100%, rgb(141,32,196) 0%);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align:center;
}

.socialboxfb {
  background-color:#3b5997;
  box-shadow: inset 0px 1px 0px #5581d9, 0px 5px 0px 0px #273b63, 0px 10px 5px #999;
}

.socialboxtw {
  background-color:#00aced;
  box-shadow: inset 0px 1px 0px #00bbff, 0px 5px 0px 0px #007ba8, 0px 10px 5px #999;
}

.socialboxgp {
  background-color:#e36044;
  box-shadow: inset 0px 1px 0px #ff886e, 0px 5px 0px 0px #a84832, 0px 10px 5px #999;
}
 


/* fade slider */
.slides {
    height:400px;
    overflow:hidden;
    position:relative;
    width:900px;
    margin-left: auto; 
    margin-right: auto;
    z-index: -1;
    margin-top: 24px;
    border: 2px solid black;
}
.slides ul {
    list-style:none;
    position:relative;
    padding: 0;
}

/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slides ul li img {
    display:block;
}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.slides ul li div {
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:26px;
    left:10%;
    margin:0 auto;
    padding:20px;
    position:absolute;
    top:50%;
    width:200px;

    /* css3 animation */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

.article-header {
  background-color: #333333;
  text-align: right;
}

.favorite-button {
  content:url(/assets/heart-empty.png);
}

.unfavorite-button {
  content:url(/assets/heart-full.png);
}

.addtimeline-button {
  content:url(/assets/browser-new-window-2.png);
}

.removetimeline-button {
  content:url(/assets/browser-minimise-2.png);
}

.article-title {
  font-family: 'Josefin Sans', sans-serif;
}

.article-content {
  font-family: 'Arimo', sans-serif;
  font-size: 100%;

}


.follow-button {
  content:url(/assets/user-4-add.png);
}

.unfollow-button {
  content:url(/assets/user-4-remove.png);
}

audio {
  width: 100%;
}

video {
  width: 100%;
  height: auto;
}


.audio_title {
  font-weight: bold;
  text-align: center;
}

.profile_picture {

}




