.user-search {
	border-bottom: 1px solid black;
}

#user-search {
	background-color: #333333;
}

.follow-button {
  content:url(/assets/user-4-add.png);
}

.unfollow-button {
  content:url(/assets/user-4-remove.png);
}